<!-- *ngIF: an hien tag/component -->
<h1 *ngIf="isActive">OK</h1>
<button
    (click)="isActive = !isActive">
    Toggle
</button>

<!-- chua dang nhap isLogin = false -->
<!-- <div *ngIf="!isLogin">
    <p>Login</p>
    <button
    (click) = "isLogin = true"
    >Dang nhap</button>
</div> -->

<!-- da dang nhap isLogin = true -->
<div *ngIf="isLogin; else loginTemplate">
    <p>Hello</p>
    <button
    (click) = "isLogin = false"
    >Dang xuat</button>
</div>

<!-- ng-temlate: mac dinh ko duoc render ra giao dien, minh can phai phai goi toi thi no moi render ra -->
<!-- duoc su dung su dung lai nhieu lan -->
<ng-template #loginTemplate>
    <p>Login</p>
    <button (click) = "isLogin = true">Dang Nhap</button>
</ng-template>

<!-- ngSwitch: vế bên phải nhận vào là 1 cái chuỗi,  [ngSwitch]: vế bên phải nhận vào là 1 biến -->
<!-- *ngSwitchCase: vế bên phải nhận vào luôn luôn là 1 biến -->
<!-- => điểm khác biệt là dấu * trước tên Directive -->
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'">RED</p>
    <p *ngSwitchCase="'blue'">BLUE</p>
    <p *ngSwitchCase="'green'">GREEN</p>
    <p *ngSwitchDefault>Default</p>
</div>

<select [value]="color" (change)="color = $event.target.value">
    <option value="">Default</option>
    <option value="red">RED</option>
    <option value="blue">BLUE</option>
    <option value="green">GREEN</option>
</select>

<p *ngFor = "let sv of dssv; let idx = index">
    {{idx + 1}} - {{sv.hoTen}} - {{sv.lop}}
</p>

<!-- Ko thể có 2 structural directive trên cùng 1 tag -->
<div class="d-flex" >
    <!-- ng-container tuong duong Fragment bên react, tag này sẽ không được render ra giao diện -->
    <ng-container *ngIf="dssv">
        <p *ngFor = "let sv of dssv; index as idx">
            {{idx + 1}} - {{sv.hoTen}} - {{sv.lop}}
        </p>
    </ng-container>
</div>

<!-- ng-container kết hợp ng-template -->
<!-- Tái sử dụng 1 layout trong component -->

<!-- tạo ra layout để tái sử dụng -->
<ng-template #templateAlert>
    <div class="alert alert-danger">
        <strong>Alert</strong>
    </div>
</ng-template>

<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>
<ng-container *ngTemplateOutlet="templateAlert"></ng-container>

<!-- ng-content -->
<app-button>
    hello
</app-button>

<app-button>
    cybersoft
</app-button>

<app-card>
    <p slot="header">Header</p>
    <p slot="body">Body</p>
    <p slot="footer">Footer</p>
</app-card>

<div class="container">
    <div class="row">
        <div *ngFor="let sv of dssv" class="col-sm-4">
            <app-card>
                <p slot="header">{{sv.lop}}</p>
                <p slot="body">{{sv.lop}}</p>
                <button slot="footer">
                    Chi tiet
                </button>
            </app-card>
        </div>
    </div>
</div>

<br/>
<br/>

<!-- 
    [class]={
        'tên-class': điều kiện
    }
    => nếu điều kiện là true tên class sẽ được add vào tag
 -->
<p class="text-center" [class]="{
    'text-white': isActive,
    'text-secondary': !isActive,
    'bg-dark': isActive
}">
    Cybersort
</p>


<!-- [style]="{
    'thuộc-tính-css': giá trị của biến
}" -->
<p
    style="text-align:center"
    [style]="{
        'background-color': color
    }"
>
    ngStyle
</p>

<div
    style="background-repeat: no-repeat; height: 700px; background-position: center;"
    [style]="{
        'background-image': 'url(' + imageUrl + ')'
    }"
>

</div>

<div [innerHTML]="template"></div>

<div appHighlight>Highlight</div>